body {
  background-image: url(https://maniacosporcarros.files.wordpress.com/2013/03/imagem-carros-de-corrida.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.car {
  background-size: auto;
  height: 150px;
  width: 200px;
  margin-top: 20px;
}

.title-heading {
  background-color:transparent;
  color:black;
  font-family:fantasy;
  font-style: italic;
  font-size: 70px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

.center {
  padding: 10px;
  text-align: center;
}

.car-section {
  padding-top: 10px;
  text-align: left;
}

.car1 {
  background-image: url(https://o.remove.bg/downloads/870c2b87-2d85-4ed0-b418-8e851be7ee55/mclaren-650s-gt3--removebg-preview.png);
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}

.car2 {
  background-image: url(https://o.remove.bg/downloads/3691dce0-edd4-4442-a83d-8b2361ad4f99/Race-Car-PNG-Clipart-removebg-preview.png);
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.car3 {
  background-image: url(https://o.remove.bg/downloads/719909bb-a113-43e9-a803-71f064ea6f36/Race-Car-PNG-Image-removebg-preview.png);
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.car4 {
  background-image: url(https://o.remove.bg/downloads/f36b9695-d21b-4088-ab22-23d3b9652dc2/Race-Car-Transparent-PNG-removebg-preview.png);
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.car5 {
  background-image: url(https://o.remove.bg/downloads/ddaad27b-6231-4290-a965-a2aa6c3ff38f/supra-removebg-preview.png);
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}

.button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: 25%;
  height: 100px;
  width: 180px;
  font-size: large;
  font-weight: bold;
  margin-left: 40%;
}
