body {
  background-image: url(https://maniacosporcarros.files.wordpress.com/2013/03/imagem-carros-de-corrida.jpg);
  background-size:100%;
  background-repeat: no-repeat;
}

.car {
  background-size: auto;
  height: 100px;
  width: 200px;
  margin-top: 50px;
}

.title-heading {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  
}

.center {
  padding: 10px;
  text-align: center;
}

.car-section {
  padding-top: 20px;
  text-align: left;
}

.car1 {
  background-image: url(https://w7.pngwing.com/pngs/361/361/png-transparent-porsche-automobile-car-sports-car-racing-car-silver-metallic-fast-expensive-luxury-thumbnail.png);
  background-size: contain;
  margin-left: 0px;
  margin-bottom: 20px;
}

.car2 {
  background-image: url(https://w7.pngwing.com/pngs/12/648/png-transparent-touring-car-racing-bumper-bmw-auto-racing-car-racing-car-performance-car-thumbnail.png);
  background-size: contain;
  margin-left: 0px;
}

.button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top:300px;
  height: 100px;
  width: 180px;
  font-size:large;
  font-weight: bold;
  margin-left: 40%

}
